In [ ]:
#########################WEEK-1#####################################

In [18]:
import pandas as pd
import numpy as np

In [21]:
# 1. Read data from the csv file
df = pd.read_csv("auto-mpg.csv")
df.replace("?", np.nan, inplace=True)
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [22]:
#2. Dimension of the data
df.shape

(398, 9)

In [23]:
# 3. Display data (top 5 rows and total data)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [24]:
# 4. List the column names of a data frame
print(df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [25]:
# 5. Change columns of a data frame
df.rename(columns={"model year": "model_year"}, inplace=True)
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car name'],
      dtype='object')

In [26]:
# 6. Display specific single column or multiple columns of a data frame
df["mpg"]
df[["mpg", "horsepower", "weight"]]

      mpg horsepower  weight
0    18.0        130    3504
1    15.0        165    3693
2    18.0        150    3436
3    16.0        150    3433
4    17.0        140    3449
..    ...        ...     ...
393  27.0         86    2790
394  44.0         52    2130
395  32.0         84    2295
396  28.0         79    2625
397  31.0         82    2720

[398 rows x 3 columns]

In [27]:
# 7. Bind sets of rows of dataframes
df2 = df.head(5)   # Example second dataframe
combined_rows = pd.concat([df, df2], axis=0)
combined_rows

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [28]:
# 8. Bind sets of columns of data frames.
df2 = df[["mpg", "weight"]]   # Example second dataframe
combined_columns = pd.concat([df, df2], axis=1)
combined_columns

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car name,mpg,weight
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu,18.0,3504
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320,15.0,3693
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite,18.0,3436
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst,16.0,3433
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino,17.0,3449
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl,27.0,2790
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup,44.0,2130
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage,32.0,2295
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger,28.0,2625
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10,31.0,2720

In [30]:
# 9. Find missing values in the dataset.
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car name        0
dtype: int64

In [31]:
df.isnull().sum().sum()

np.int64(6)

In [32]:
df[df.isnull().any(axis=1)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car name
32,25.0,4,98.0,NaN,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl